<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title>Boggle</title>
</head>

<body>
    <h1>Boggle</h1>
    <section id="info">
        <div id="timer"></div>
        <div id="score"></div>
        <div id="result"></div>
    </section>
    <form action="/home" method="post">
        <input type="text" name="guess" id="guess">
        <button>Submit Guess</button>
    </form>
    <main id="board">
        <table>
            {% for row in game_board %}
            <tr>
                {% for letter in row %}
                <td>{{letter}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </main>

    <script src="app.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
</body>

</html>