<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="app.css">
    <title>Boggle</title>
</head>

<body>
    <h1>Boggle</h1>
    <section id="info">
        <div id="timer"></div>
        <div id="score"></div>
        <div id="result"></div>
    </section>
    <!-- <form action="/check_word" method="post"> -->
    <form>
        <input type="text" name="guess" id="guess">
        <button id="submit">Submit Guess</button>
    </form>
    <main>
        <table id="board">
            {% for row in game_board %}
            <tr>
                {% for letter in row %}
                <td class="letter">{{letter}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </main>

    <script src="app.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
</body>

</html>